@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#titulo {
    font-family: 'Press Start 2P', cursive;
}

#sub-titulo {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 10px;
}

#velho {
    color: #fe231b;
}

.game-board {
    width: 60%;
    height: 500px;
    border-bottom: 15px solid rgb(46, 46, 46);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image: url("/images/saci-fundo.png");
    background-size: 100%;

}

.velhovamp {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: velhovamp-animation 1.5s infinite linear;
}

.velhovampdois {
    position: absolute;
    bottom: 140px;
    width: 80px;
    animation: velhovampdois-animation 6s infinite linear;
}

.saci {
    width: 150px;
    position: absolute;
    bottom: -20px;
}

.nuvens {
    width: 400px;
    margin-top: 20px;
    position: absolute;
    animation: nuvens-animation 20s infinite linear;
}

.gameover {
    width: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right :auto;
    margin: 20px;
    position: absolute;
}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes velhovamp-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes velhovampdois-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    
    0% {
        bottom: 0px;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0px;
    }
}


@keyframes nuvens-animation {
    from{
        right: -400px;
    }

    to {
        right: 100%;
    }
}